<!DOCTYPE html>
<html lang="it">
<head>

  <title>{$page_title}</title>

  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Mock del Nodo dei Pagamenti SPC">
  <meta name="author" content="pagoPA">

  <!-- CSS -->
  <link rel="stylesheet" href="views/bootstrap-italia/css/bootstrap-italia.min.css">


</head>

<body>

    <!-- Content
    ================================================== -->



        <!-- Header -->
        <div class="it-header-slim-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="it-header-slim-wrapper-content">
                            <a class="d-none d-lg-block navbar-brand" href="index.php">PagoPA S.p.A.</a>
                            <div class="nav-mobile">
                                <nav>
                                    <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
                                        <span>Ente appartenenza/Owner</span>
                                        <svg class="icon">
                                            <use xlink:href="views/bootstrap-italia/svg/sprite.svg#it-expand"></use>
                                        </svg>
                                    </a>
                                </nav>
                            </div>
                            <div class="header-slim-right-zone">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <span>Ita</span>
                                        <svg class="icon d-none d-lg-block">
                                            <use xlink:href="views/bootstrap-italia/svg/sprite.svg#it-expand"></use>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="link-list-wrapper">
                                                    <ul class="link-list">
                                                        <li><a class="list-item" href="#"><span>ITA</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="it-access-top-wrapper">
                                    <button class="btn btn-primary btn-sm" href="#" type="button">Logout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <div class="it-header-center-wrapper" style="height: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="it-header-center-content-wrapper">
                        <div class="it-brand-wrapper">
                            <a href="#" class="">
                                <div class="it-brand-text">
                                    <h2 class="no_toc">pagoPA</h2>
                                    <h3 class="no_toc d-none d-md-block">
                                        Mock Server
                                    </h3>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="it-header-navbar-wrapper">
        <nav class="navbar navbar-expand-lg has-megamenu">
            <button class="custom-navbar-toggler" type="button" aria-controls="navbarNavEi" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNavEi">
                <svg class="icon icon-sm icon-light"><use xlink:href="views/bootstrap-italia/svg/sprite.svg#it-list"></use></svg>
            </button>
            <div class="navbar-collapsable" id="navbarNavEi">
                <div class="overlay"></div>
                <div class="close-div sr-only">
                    <button class="btn close-menu" type="button">
                        <svg class="icon icon-sm icon-light"><use xlink:href="views/bootstrap-italia/svg/sprite.svg#it-close"></use></svg>close
                    </button>
                </div>
                <div class="menu-wrapper">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><span>Amministrazione</span></a>
                            <div class="dropdown-menu">
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="link-list-wrapper">
                                            <ul class="link-list">
                                                <li>
                                                    <h3 class="no_toc">PA Virtuale</h3>
                                                </li>
                                                <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                                                </li>
                                                <li><a class="list-item" href="#"><span>Link list 2 </span></a>
                                                </li>
                                                <li><a class="list-item" href="#"><span>Link list 3 </span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="link-list-wrapper">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="link-list-wrapper">
                                            <ul class="link-list">
                                                <li>
                                                    <h3 class="no_toc">Strumenti</h3>
                                                </li>
                                                <li><a class="list-item" href="verificaCatalogoXML.php"><span>Verifica del CDI di un PSP</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



    <!-- Content
    ================================================== -->
    <div class="container-fluid m-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Dashboard <small>SISTEMA DI TEST</small></h1>
                <img src="views/images/TestIcon.png" alt="Sisteme di test del NodoSPC"/>
                <p style="min-height: 200px;">Il server Mock di pagoPA consente di simulare un Ente Creditore o un PSP nelle chiamate dei Web Services del NodoSPC.</p>
            </div>
        </div>
    </div>



    <!-- Footer
    ================================================== -->
    <footer class="it-footer">
        <div class="it-footer-main">
            <div class="container-fluid">
                <section class="py-4">
                    <div class="row">
                        <div class="col-md-6 pb-2">
                            <h4><a href="#" title="Vai alla pagina: Contatti">Progetto pagoPA</a></h4>
                            <p>Sistema di gestione dei test sul NodoSPC.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="it-footer-small-prints clearfix">
            <div class="container-fuild">
                <h3 class="sr-only">Sezione Link Utili</h3>
                <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
                    <li class="list-inline-item"><a href="https://designers.italia.it/privacy-policy" title="Privacy policy">Privacy policy</a></li>
                    <li class="list-inline-item"><a href="https://designers.italia.it/note-legali" title="Note legali">Note legali</a></li>
                </ul>
            </div>
        </div>


    </footer>

    <a href="#" aria-hidden="true" data-attribute="back-to-top" class="back-to-top back-to-top-small">
        <svg class="icon icon-light"><use xlink:href="views/bootstrap-italia/svg/sprite.svg#it-arrow-up"></use></svg>
    </a>

    <div class="cookiebar">
        <p>Questo sito utilizza cookie tecnici, analytics e di terze parti. <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.</p>
        <div class="cookiebar-buttons">
            <button data-accept="cookiebar" class="cookiebar-btn cookiebar-confirm">Accetto<span class="sr-only"> i cookies</span></button>
        </div>
    </div>

    <!-- JavaScript
    ================================================== -->
    <script src="views/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>


</body>
</html>